<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout/sitelayout">
<head>
<title>List of Accounts</title>
<link rel="stylesheet" th:href="@{/webjars/bootstrap/3.1.1/css/bootstrap.min.css}" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
<link rel="stylesheet" th:href="@{/webjars/bootstrap/3.1.1/css/bootstrap-theme.css}" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.css" />
<link rel="stylesheet" th:href="@{/css/application.css}" href="../../static/css/application.css" />
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1 class="well well-small">Accounts</h1>
			</div>
		</div>
		<div layout:fragment="content">
			<div class="row">
				<div class="col-xs-12">
					<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<th>ID</th>
								<th>Year</th>
								<th>Date</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr th:if="${accounts.empty}">
								<td colspan="4">No messages</td>
							</tr>
							<tr th:each="account : ${accounts}">
								<td th:text="${account.id}">1</td>
								<td th:text="${account.year}">Test Year</td>
								<td th:text="${account.regDate}">Test Date</td>
								<td><a th:href="@{/accounts/edit/__${account.id}__}" href="#">Edit</a>
									| <a th:href="@{/accounts/delete/__${account.id}__}" href="#">Delete</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<a href="#" th:href="@{/accounts/form}" class="btn btn-default">New Year</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>